body{
    background-image: url("../media/signInBg.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
}

#mainSection{
    position: absolute;
    width: 75vw;
    height: 50vh;
    border-color: black;
    border: solid 0.3em;
    border-radius: 50px;
    padding: 5vh 5vw 5vh 5vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    background-color: rgba(240, 240, 255, 0.8);
}
#signIn{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#signInDescription{
    position: relative;
    padding-top: 5vh;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.flexBox{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.padItem{
    padding-top: 2.5vh;
}
.inputLabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    height: min(30px, 10vh);
}
.finalPress{
    position: relative;
    top: 0%;
    left: 0%;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    height: max-content;
    width: max-content;
    margin-left: 5vw;
    background-color: rgb(255, 255, 255);
}
.finalPress a{
    color: #474747;
    display: block;
}
.buttons{
    position: absolute;
    bottom: 10vh;
    right: 5vw;
}
#regNew{
    background-color: #abffa3;
}
#signNext{
    background-color: blue;
    padding: 10px 20px 10px 20px;
}
#signNext a{
    color: aliceblue;
}
a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box
}
.incorrect{
    color: red;
}